html{
    scroll-behavior: smooth;
}

main h1{
    display: block;
    height: 50px;

    margin: auto;
    padding: 25px 0;
    text-align: center;
    font-size: 3em;
    font-family: 'Permanent Marker', cursive;

    background-color: black;
    color: rgb(255, 255, 235);
}

/* menu nav */


.flex-container-menu {
    display:flex;
    justify-content:center;
    flex-direction: row;
    gap: 20px;
    list-style-type:none;
}

li::before{
    content: "|";
    color: black ;
    padding: 0 5px 0 0px;
}

.flex-container-menu .navItem {
    font-family: 'K2D', sans-serif;
    font-size: 20 px;
    color:black;
    line-height: 30px;
    text-decoration: none;
}

/* hr */

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

 /* button back */
#back {
    font-family: 'Permanent Marker', cursive;
    color: black;
    position: fixed;
    margin-top: 750px;
    margin-left: 1330px; 
    font-size: 20px;

    background-color: rgb(186, 232, 250);
    border-image: 1px solid black;
    border-radius: 4px;
    border-bottom: outset;
    box-shadow: 0px 2.5px #585858;

    opacity: 0.7;
}


#back a {
    color: black;
    text-decoration: none;
}

#back:hover{
    
    opacity: 1;
}
 

/* card */

.wrapper_card {
    background-color: rgb(88, 138, 158);
    border: 4px solid rgb(64, 101, 116);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    padding: 2px;
    box-shadow: 15px 3px #585858;

}

.imgCard {
    width: 100%;
    height: 220px;
    border-image: 1px solid black;
    border-radius: 4px;
    border-bottom: outset;
    box-shadow: 0px 2.5px #585858;
  

}


.card {
    flex: 0 0 21%;
    box-shadow: 0 0 25px #424242;
    padding: 1em;
    transition: flex-basis 1s ease;
    margin: 0.5em 0em;
    background-color: white;
}
    
.card:hover {
    flex-basis: 25%;
    background-color:rgb(170, 217, 236) ;
}  



.card h2 {
    font-family: 'K2D', sans-serif;
    text-align: center;
    margin: 5px auto;
}

.card:hover p {
    flex-basis: 25%;
    opacity: 1;
    
}  


.card p {
    font-family: 'K2D', sans-serif;
    font-style: italic;
    padding: 0px 15px;
    display: block;
	display: -webkit-box;
	font-size: 18px;
	line-height: 1.5;	
	-webkit-line-clamp: 8;
	min-height: 190px;
	-webkit-box-orient: vertical;
	overflow: auto;

    width: 260px;
    margin: 0 auto;

    opacity: 0.5;
    transition: opacity 1s ease-out;
    
}


/* text style  */
.wrapper_countries h1 {
    margin: 50px 0px 5px 15px;
    text-align: left;

    font-size: 2.3em;
    font-family: 'Permanent Marker', cursive;
}



/* footer  */
footer{
    font-family: 'K2D', sans-serif;
    margin-top: 50px ;
    background: black;
    padding: 40px;
    text-align: center;
    color: rgb(255, 255, 235);
    font-size: 13px;
    border: none;
  } 
  
  footer a {
    color: white;
  }
  
  footer a:hover {
    text-decoration: none;
  }
